<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display-content</title>
    <link rel="stylesheet" href="styles/display.css">
</head>
<body>
    <div class="container">
    <div class="card">
        <div class="card-content">
            <h1><%= title %></h1>
            <p><%= content %></p>
        </div>
    </div>
   
</div>
</body>
</html>

