<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-page</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <!-- index.ejs (landing page) -->
    <div class="landing-page">
        <div id="video-background">
          <video autoplay loop muted>
            <source src="images/6044-188286505_medium.mp4" type="video/mp4">
          </video>
        </div>
        <main>
          <div class="hero-section">
            <div class="hero-text">
              Dive into the world of <span class="skill-swap">Cinema </span>and share your thoughts with our community.
            </div>
            <a href="/create" class="create-button">Create a Blog</a>
          </div>
        </main>
      </div>
      
</body>
</html>
  